# IDE
.vscode

# python files
__pycache__
venv
.env

# build artifacts
dist/
build/
*.egg-info/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

notes